html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    /* max-width: 400px; */
    /* margin: auto; */
    /* horizontal-align: middle; */
    display: table-cell;
}

.bigtitle{
    font-size: 50px;
}

button {
    font-size: 16px;
    background: transparent;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    color: white;
  }

button:hover {
  background: white;
  color: black;
  font-weight: bold;
}

a {
    color: white;    
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #383838;
    /* text-decoration: underline; */
    transition: 0.2s;
}